<form action="/login" method="post">
  <label for="username">username</label>
  <input type="text" name="userName" id="username" />
  <label for="password">password</label>
  <input type="password" name="passWord" id="password" />
  <button type="submit">submit</button>
</form>
